<hr>
<div class="row">
  <div class="col-sm-3">
    <div class="card" [routerLink]="[ '/colabora' ]">
      <img src="../../assets/img/colabora_diamond.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Colabora</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card"  [routerLink]="[ '/entrega' ]">
      
      <img src="../../assets/img/entrega_diamond.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Entrega</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" [routerLink]="[ '/reflexiona' ]" > 
      <img src="../../assets/img/reflexiona_diamond.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Reflexiona</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card" [routerLink]="[ '/mejora' ]">
      <img src="../../assets/img/mejora_diamond.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Mejora</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
</div>